---
import Header from "../components/Header"
import Hero from "../components/Hero"
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wild Hog Studio</title>
	</head>
	<body >
		<Header client:load/>
		<Hero client:load/>
	</body>
</html>
