---
import Header from "../components/Header"
import Hero from "../components/Hero"
import LeagueSubscriptionBanner from "../components/LeagueSubscriptionBanner";
import PrizeItem from "../components/PrizeItem"
import Rules from "../components/Rules";
import "../styles/global.css";
import Main from "./Main";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wild Hog Studio</title>
	</head>
	<body >
		<Main client:load/>
	</body>
</html>
